extends layout

block content
	h1= title
	p
		| #[a(href="/") Home] |
		| #[a(href="/livestream/") Real-time streaming] |
		| #[a(href="/dynamo/scan/0bb4ac97-55ad-4712-9dfa-78099eacff95") Scan] |
		| #[a(href="/dynamo/query/0bb4ac97-55ad-4712-9dfa-78099eacff95") Query] |
		| #[a(href="/dynamo/oquery/0bb4ac97-55ad-4712-9dfa-78099eacff95") Ordered Query] |
		| #[a(href="/dynamo/destroy/0bb4ac97-55ad-4712-9dfa-78099eacff95/7_12:34:23:3434.3343") Destroy] |
		| #[a(href="/dynamo/count/0bb4ac97-55ad-4712-9dfa-78099eacff95/EventTimestamp/1_12:34:23:3434.3343") GetCount] |
	hr
	pre #{dynamodb}
